

/* -------------------------------------------------------- */

/* POINT */
.point {
    margin: 40px 0;
    font-size: 23px;
    color: #64dcf9;
}

.point__to-home {
    padding-right: 36px;
    background: url(i/bt.png) no-repeat 101px 13px;
    color: #595b5e;
}

.point__username {
    color: #64dcf9;
}








/* ------------------------------------------------------ */

/* USER PANEL */
.user-panel {
    width: 1218px;
    margin: 0 auto;
    text-align: left;
}




.user-panel__left-side {
    float: left;
    width: 299px;
    height: 148px;
    padding: 14px 0;
    vertical-align: top;
    background: #191a1e;
}

.user-panel__wrap-avatar {
    float: left;
    width: 119px;
    height: 120px;
    margin: 0 11px 10px 8px;
    background: url(i/cp.png) no-repeat;
}

.user-panel__avatar {
    width: 91px;
    height: 91px;
    margin: 14px;
    border-radius: 50%;
}

.user-panel__username {
    width: 117px;
    padding-top: 5px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5ac2dc;
}

.user-panel__link-steam-account {
    margin-top: 7px;
    color: #585e65;
}

.user-panel__balance {
    margin: 13px 0;
}

.user-panel__balance {
    display: inline-block;
    vertical-align: top;
    color: #f1b430;
}

.profile-upload-money-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-top: 4px;
    background: url(i/co.png) no-repeat center;
    cursor: pointer;
}

.user-panel__balance:after:hover {
    box-shadow: 0 0 25px rgba(224,167,46,.9);
}

.user-panel__upload-skeens {
    font-size: 13px;
    letter-spacing: .2px;
    color: #e0a72e;
    text-shadow: 0 0 20px rgba(224,167,46,.5);
    cursor: pointer;
}




.user-panel__right-side {
    float: left;
}

.right-side__instruction {
    position: relative;
    float: left;
    height: 69px;
    padding: 15px 0 0 30px;
    letter-spacing: 0;
    color: #4c4e53;
}

.right-side__instruction:nth-child(1) {
    width: 319px;
    padding-left: 18px;
    background: #1e2024;
}

.right-side__instruction:nth-child(1):after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: -51px;
    border: 35.4px solid transparent;
    border-left: 16px solid #1e2024;
}

.right-side__instruction:nth-child(2) {
    width: 275px;
    background: #23252a;
}

.right-side__instruction:nth-child(2):after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: -51px;
    border: 35.4px solid transparent;
    border-left: 16px solid #23252a;
}

.right-side__instruction:nth-child(3) {
    width: 323px;
    background: #2c2e33;
}


/* heading - first row */
.right-side__instruction p {
    font-size: 18px;
    color: #afafaf;
}

/* get to know trade url */
.right-side__instruction a {
    /*font-size: 16px;*/
    color: #63666b;
}

.trade-url {
    clear: both;
    padding: 19.8px 0;
    background: #1b1d21;
}

.trade-url input {
    width: 743px;
    height: 38px;
    margin: 0 16px 0 18px;
    padding: 0 20px;
    border: 2px solid #d64b1b;
    background: #271f1f;
    border-radius: 23px;
    color: #b04c29;
    box-shadow: 0 0 10px rgba(184,52,6,.6), inset 0 0 6px rgba(187,49,1,.8);
}

.trade-url input:focus {
    box-shadow: 0 0 8px 7px rgba(44, 47, 54, .45);
}

.trade-url input::placeholder {
    color: #b04c29;
}

.trade-url button {
    width: 117px;
    height: 39px;
    background: #272A31;
    border-radius: 30px;
    font-size: 14px;
    color: #4fa5a8;
    cursor: pointer;
    transition: .3s ease;
}

.trade-url button:hover {
    box-shadow: 0 0 8px 7px rgba(44, 47, 54, .45);
}








/* ------------------------------------------------------ */

/* DISCLAIMER */
.disclaimer {
    clear: both;
    padding: 40px;
}

.disclaimer p {
    padding-top: 18px;
    color: #b0b0b0;
}

.disclaimer p:first-child {
    font: 700 28px 'Noto Sans';
    color: #f1b430;
    letter-spacing: 0;
}

.disclaimer p:nth-child(2) {
    color: #c57a30;
}

.disclaimer span {
    color: #f1b430;
}

.disclaimer p:nth-child(3) span {
color: #bc441b;
}

.disclaimer p:nth-child(5) span:nth-child(1),
.disclaimer span:nth-child(2) {
    font: 700 14px 'Noto Sans';
}




/* ------------------------------------------------------ */

/* PROFILE WIN THINGS */
.profile-win {
    width: 1216px;
    margin: 0 auto 40px;
    text-align: left;
}


.profile-win__title {
    padding: 0 0 40px;
    font-size: 21px;
    text-align: center;
}


/* item scnt win things */
.profile-win > div {
    display: inline-block;
    width: 190px;
    height: 176px;
    margin: 0 6px 6px 0;
    text-align: center;
    background: #151719;
}








