<div class="box-loop__item posabs">
    <div class="item-box-num posabs">КОНТЕЙНЕР #1</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/c2.png')">
        <p class="section-win-name-tank">ДОППАЕК</p>
        <p class="section-win-price inner-case-item__price">50</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:232px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #4</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/b9.png')">
        <p class="section-win-name-tank">АВТОМАТИЧЕСКИЙ ОГНЕ..</p>
        <p class="section-win-price inner-case-item__price">50</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:464px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #2</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/a6.png')">
        <p class="section-win-name-tank">ПРЕМИУМ: 3 ДНЯ</p>
        <p class="section-win-price inner-case-item__price">650</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:696px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #3</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/a.png')">
        <p class="section-win-name-tank">LOWE</p>
        <p class="section-win-price inner-case-item__price">12500</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:928px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #5</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/hh.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">125</p>
    </div>
</div>
