body{box-sizing:border-box;min-width:1260px;margin:0;padding:0;text-transform:none;font-size:100%;outline:none;border:none;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,footer,header,nav,section{display:block}[hidden]{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects;text-decoration:none}.live-lenta{height:100px}.live-lenta__item{width:150px;margin-right:5px}.inner{width:1260px;margin:0 auto}
