$color-dark-blue_bg-general: #151619
$color-dark-blue1-transparent_bg: rgba(27,29,34,.8)
$color-dark-blue2_bg: rgba(17,18,20,.7)
$color-dark-blue3_bg: rgba(14,15,17,.7)
$color-dark-blue4-transparent_bg: rgba(44,47,54,.15)
$color-dark-blue4-transparent2_bg: rgba(44,47,54,.3)
$color-dark-blue4-transparent3_bg: rgba(44,47,54,.4)
$color-dark-blue5_bg: rgba(11,12,15,.47)
$color-brown_text: #788689
$color-brown1_text: #747475
$color-brown2_text: #9098a4
$color-yellow_text: #ffbf37
$color-light-blue_text: #568eff
$color-blue_text: #795fe8
$color-pink_text: #eb587b
$color-red_text: #ef5a26
$color-white: #fff
$color-black-transparent_text: rgba(0,0,0,.2)
$text-shadow_text: 0 0 .5em rgba(154,54,15,1)
$text-shadow_text1: 0 0 16px #ffbf37
$liner-grad_bg: linear-gradient(135deg, rgba(68,119,161,.25) 0%, rgba(68,119,161,.25) 1%, rgba(68,119,161,0) 40%, rgba(68,119,161,0) 50%, rgba(68,119,161,0) 60%, rgba(68,119,161,.23) 100%)




*
    box-sizing: border-box
    margin: 0
    padding: 0
    line-height: 1.15
    letter-spacing: .6px
    font-size: 100%
    -webkit-user-select: none
    user-select: none
    outline: none

body
    min-width: 1260px
    text-align: center
    font: 16px 'Didact Gothic'
    background: $color-dark-blue_bg-general url(i/bm.png)
    color: $color-brown_text

li
    list-style: none

img
    border: none
    pointer-events: none

a
    text-decoration: none
    color: $color-brown_text

input,
button
    border: none




/* --------------------------------- *\
    #COMMON
/* --------------------------------- */

.inner
    width: 1260px
    margin: 0 auto

.bold
    font-weight: 700

.disp-inline-block
    display: inline-block
    vertical-align: top

//.logo


.name-thing
    font-size: 17px

.price,
#sctn2 .price_through
    margin: 12px 0 35px
    font: 18px 'Noto Sans'
    color: $color-yellow_text
    text-shadow: $text-shadow_text

.price_through
    position: relative
    margin-left: 7px
    font-size: 15px

.price_through:after
    content: ''
    position: absolute
    top: 11px
    left: -4px
    width: 120%
    height: 2px
    background: $color-yellow_text
    text-shadow: $text-shadow_text

.header__nav li,
#live-drop__list li,
#promo-code > *
    display: inline-block

#header > *,
#live-drop > *,
#sctn1 > *,
#sctn2 > *,
.branded-cases > *,
#cases > *,
.stats > *,
.footer > * > *
    display: inline-block
    vertical-align: top

.branded-cases > *,
#cases > *
    margin: 40px 0 0 40px
    box-shadow: inset 0 -2px 0 0 transparent
    transition: .3s ease background
    //border: 2px solid transparent

.branded-cases > *:hover,
#cases > *:hover
    background: $color-dark-blue4-transparent2_bg
    box-shadow: inset 0 -2px 0 0 #63eefc, inset 0 -14px 6px -9px rgba(99, 238, 252, .3), 0 -1px 20px rgba(0, 0, 0, .1), 0 -1px 19px rgba(0, 0, 0, 0.2), 0 6px 7px -4px rgba(99, 238, 252, .3)
    //border: 2px solid transparent

.branded-cases a:nth-child(1) img,
.branded-cases a:nth-child(8) img,
#cases a:nth-child(11) img,
.branded-cases a:nth-child(1) p,
.branded-cases a:nth-child(8) p,
#cases a:nth-child(11) p
    opacity: .2

.title-cases
    margin-top: 40px
    font-size: 24px
    //color: 


.hit-pay,
.pay-back
    position: relative

.hit-pay:before,
.pay-back:before
    content: ''
    position: absolute
    top: -268px
    right: -34px
    height: 68px
    transition: .3s ease

.hit-pay:before
    width: 134px
    background: url(i/bp.png)

.pay-back:before
    width: 146px
    background: url(i/bq.png)

a:hover .hit-pay:before,
a:hover .pay-back:before
    top: -279px




/* --------------------------------- *\
    #HEADER PAGE
/* --------------------------------- */

#header
    width: 1101px
    padding: 23px 0 20px
    margin: 0 auto

//declaration in sctn common
//#header > *
//    display: inline-block
//    vertical-align: top

#header > div:first-child
    width: 157px
    font: 700 19px 'Noto Sans'
    line-height: 1.5
    color: #fff

.header__logo
    width: 156px
    margin: 0 0 10px
    color: $color-brown2_text

.header__nav
    margin: 17px 95px 0 86px

.header__nav li
    position: relative
    //display: inline-block // declaration in sctn common
    width: 128px

.header__nav a:after
    content: ''
    position: absolute
    top: 61px
    left: 15px
    width: 96px
    height: 7px
    background: url(i/bo.png)
    opacity: 0
    transition: .3s ease

.header__nav img
    margin: 0 0 15px

.header__nav li:hover a
    color: $color-yellow_text
    text-shadow: $text-shadow_text
    transition: .3s ease

.header__nav li:hover a:after
    opacity: 1

//.header__auth


.header__auth > *
    position: relative
    display: block
    width: 277px
    padding: 0 0 18px
    //height: 48px
    //line-height: 48px
    border-radius: 44px
    background: $color-dark-blue1-transparent_bg

.header-auth__second-item
    margin: 16px 0 30px

#header-auth__vk
    margin: 16px 0 30px

.header__auth .header-auth__first-item_auth-steam:hover,
.header__auth .header-auth__second-item_auth-vk:hover
    color: $color-yellow_text

.header-auth__label-animated
    position: absolute
    top: 15px
    opacity: 0
    transition: 1s ease

.header__auth a:hover .header-auth__label-animated
    opacity: 1

.header-auth__icon-social
    position: relative
    top: 9px
    left: 2px
    transition: 1s ease

//#header-auth__icon-steam
//    left: -51px

//.header__auth a:hover #header-auth__icon-steam
//    left: 22px

a:hover .header-auth__icon-social
    left: 58px
    transform: rotate(360deg)




/* --------------------------------- *\
    #LIVE DROP
/* --------------------------------- */

#live-drop
    white-space: nowrap
    text-align: left
    background: $color-dark-blue2_bg

//declaration in sctn common
//#live-drop > *
//    display: inline-block
//    vertical-align: top

#live-drop__label
    position: relative
    padding: 35px 25px 29px
    background: $color-dark-blue3_bg

.live-drop__first-row-label
    margin: 0 0 7px
    font: 700 15px 'Noto Sans'
    color: $color-yellow_text
    text-shadow: $text-shadow_text

.live-drop__second-row-label
    font-size: 13px

#live-drop__label:after
    content: ''
    position: absolute
    top: 0
    left: 152px
    border: 46px solid transparent
    border-left: 30px solid $color-dark-blue3_bg

#live-drop__list
    height: 91px
    text-align: center

#live-drop__list li
    position: relative
    //display: inline-block //declaration in sctn common
    width: 108px
    height: 91px
    margin-left: 25px
    vertical-align: top

#live-drop__list li:first-child
    margin-left: 55px

.live-drop__shadow
    position: absolute
    left: 50%
    top: 50%
    width: 2px
    height: 2px
    margin: -1px 0 0 -1px
    border-radius: 50%
    //box-shadow: 0px 0px 25px 15px rgb(252, 63, 126)

.live-drop__popup
    position: absolute
    bottom: -70px
    left: -27px
    z-index: 9
    display: none
    width: 165px
    height: 166px
    white-space: normal
    background: rgba(12,12,15,.94)
    opacity: 0
    transition: .3s ease

.live-drop__popup:before
    content: ''
    position: absolute
    top: -25px
    left: 69px
    border: 13px solid transparent
    border-bottom: 12px solid rgba(12, 12, 15, .95)

.live-drop__img-win
    position: relative
    z-index: 2
    margin-top: 4px

.live-drop-popup__user-name
    margin: 0 0 10px
    color: #5ce9ff
    text-shadow: 0 0 17px rgba(32, 184 ,255 , .43)

.live-drop-popup__name-thing
    font-size: 13px



    
/* --------------------------------- *\
    #PROMO CODE
/* --------------------------------- */

#promo-code
    width: 1161px
    margin: 40px auto 20px
    background: $liner-grad_bg

#promo-code > *
    //display: inline-block //declaration in sctn common
    vertical-align: middle

#promo-code__left
    text-align: left

.promo-code-left__second-row
    font-size: 25px
    color: $color-yellow_text

#promo-code__center
    margin: 25px 241px

.promo-code-center__second-row
    color: $color-brown1_text

.promo-code-center__second-row
    font-size: 30px

#promo-code__right
    text-align: right
    color: $color-brown1_text




/* --------------------------------- *\
    #SCTN1
/* --------------------------------- */

//#sctn1

#sctn1 > *
    margin-left: 40px
    background: $color-dark-blue4-transparent_bg
    box-shadow: inset 0 2px 0 0 transparent, inset 0 14px 6px -9px transparent,0 -6px 7px -4px transparent
    transition: .3s ease
//    declaration in sctn common
//    display: inline-block
//    vertical-align: top

#sctn1 > *:first-child
    margin: 0

#sctn1 > *:hover
    background: $color-dark-blue4-transparent3_bg
    box-shadow: inset 0 2px 0 0 #63eefc, inset 0 14px 6px -9px rgba(99, 238, 252, .3), 0 -1px 20px rgba(0, 0, 0, .1), 0 -1px 19px rgba(0, 0, 0, .2), 0 -6px 7px -4px rgba(99, 238, 252, .3)

.sctn1-item__name-thing_army
    color: $color-light-blue_text

.sctn1-item__name-thing_disable
    color: $color-blue_text

.sctn1-item__name-thing_secret
    color: $color-pink_text

.sctn1-item__name-thing_secret1
    color: $color-red_text

.sctn1-item__name-thing_knife
    color: $color-light-blue_text




/* --------------------------------- *\
    #SCTN2
/* --------------------------------- */

#sctn2
    padding: 10px 0
    margin: 20px 0 0
    background: $color-black-transparent_text

#sctn2 > *
    width: 160px
    height: 269px
    background: url(i/be.png) no-repeat center
    padding-top: 44px
    //margin-left: 20px
//declaration in sctn common
//  display: inline-block
//  vertical-align: top

#sctn2 > *:first-child
    margin: 0

#sctn2 > *:hover
    background: url(i/bf.png) no-repeat center
    transition: .3s ease

.sctn2-item__price
    margin: 9px 0 -4px

#sctn2 .price_through
    display: inline
    margin: 0
    font-size: 15px
//declaration in sctn common
//  color: $color-yellow_text
//  text-shadow: $text-shadow_text




/* --------------------------------- *\
    #TITLE BRANDED CASES
/* --------------------------------- */

//.title-branded-cases




/* --------------------------------- *\
    #BRANDED CASE
/* --------------------------------- */

.branded-cases
    width: 1146px
    text-align: left

.branded-cases > *
    width: 252px
    padding: 33px 0 0
    text-align: center
//declaration in sctn common
//    display: inline-block
//    vertical-align: top

.branded-cases > *:nth-child(4n+1)
    margin-left: 0




/* --------------------------------- *\
    #TITLE PLAIN CASES
/* --------------------------------- */

//.title-cases




/* --------------------------------- *\
    #PLAIN CASES
/* --------------------------------- */

#cases
    width: 1260px
    margin: 0 auto 40px

#cases > *
    width: 252px
    padding-top: 51px
//declaration in sctn common
//  display: inline-block
//  vertical-align: top


.cases-item__name-thing
    margin-top: 36px

.dont-have
    color: $color-brown_text
    text-shadow: none




/* --------------------------------- *\
    #STATS
/* --------------------------------- */

.stats
    height: 105px
    background: $color-dark-blue5_bg

.stats > *
    position: relative
    top: -28px
    height: 155px
    width: 168px
    padding-top: 49px
    color: #9098a4
    background: url(i/bn.png) center
//declaration in stcn common
//  display: inline-block
//  vertical-align: top

.users
    margin: 0 200px

.counter-value
    margin: 0 0 3px
    font-size: 32px
    color: #63c3eb
    text-shadow: 0 0 0.5em rgba(35,154,222, .8)




/* --------------------------------- *\
    #FOOTER
/* --------------------------------- */

.footer
    padding: 0 0 60px
    background: rgba(11,12,15,.58)
    text-align: left

.footer > *
//declaration in sctn common
//  display: inline-block
//  vertical-align: top

.footer .inner
    width: 997px

.footer__logo
    width: 120px
    margin: 60px 0 35px

.footer__copyright
    margin-right: 40px

.footer__copyright b
    display: block
    margin: 0 0 5px
    font-weight: 500

.footer__copyright p
    color: #42454d

.footer__link
    padding: 23px 0 0
    color: $color-brown1_text

.footer__link a
    color: $color-brown1_text
    text-decoration: underline










































// ----------------------------------------------------------

// FAQ
.faq__main
    width: 1170px
    margin: 0 auto 40px

//.faq__list

.faq__main li
    padding: 0 20px
    text-align: left

.faq__main li:nth-child(odd)
    margin-top: 25px

.faq-list__title
    height: 52px
    line-height: 50px
    font-size: 20px
    background: #000E19
    color: #edf2f5
    cursor: pointer

main .faq-list__description
    //display: none
    overflow: hidden
    //padding: 10px 18px
    line-height: 1.35
    border-left: 2px solid #000E19
    //background: #01171F
    transition: .6s ease
