<div class="box-loop__item posabs">
    <div class="item-box-num posabs">КОНТЕЙНЕР #1</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/cc.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">3250</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:232px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #4</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/b3.png')">
        <p class="section-win-name-tank">СЛОТ В АНГАРЕ</p>
        <p class="section-win-price inner-case-item__price">250</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:464px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #3</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/q.png')">
        <p class="section-win-name-tank">T26E4 SUPERPERSHING</p>
        <p class="section-win-price inner-case-item__price">7209</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:696px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #2</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/c2.png')">
        <p class="section-win-name-tank">ДОППАЕК</p>
        <p class="section-win-price inner-case-item__price">50</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:928px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #5</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/a6.png')">
        <p class="section-win-name-tank">ПРЕМИУМ: 3 ДНЯ</p>
        <p class="section-win-price inner-case-item__price">650</p>
    </div>
</div>