<div class="box-loop__item posabs" >
    <div class="item-box-num posabs">КОНТЕЙНЕР #5</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/gg.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">205</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:232px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #2</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/bb.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">6200</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:464px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #1</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/c5.png')">
        <p class="section-win-name-tank">КРЕПКИЙ КОФЕ</p>
        <p class="section-win-price inner-case-item__price">50</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:696px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #3</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/a5.png')">
        <p class="section-win-name-tank">ПРЕМИУМ: 7 ДНЕЙ</p>
        <p class="section-win-price inner-case-item__price">1500</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:928px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #4</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/c9.png')">
        <p class="section-win-name-tank">КОФЕ С ВЫПЕЧКОЙ</p>
        <p class="section-win-price inner-case-item__price">50</p>
    </div>
</div>
